/* =======================================================================
## ++ Susy
========================================================================== */

$susy:(
    container-position: center
);

/* =======================================================================
## ++ Globals
========================================================================== */
body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
}

*{
    box-sizing:border-box;
}


.container{
    @include container(1100px);
    

    //Media Queries
    //-----------------
        @include tablets{
            @include container(90%);
        }
    //-----------------
    
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






