<footer class="main-footer">
    <div class="container">
        <p class="mission-statement">
            <strong>Watch and Learn</strong> is a site dedicated to producing video and text tutorials intended for everyone that wants to learn Wordpress, Frontend development, Sass, Compass and web design in general. Hope you enjoy the content, and learn something new.
        </p>
    </div>

    <div class="copy">
        <p>&copy; <%= Time.now.year %>,  Watch and Learn</p>
    </div>
</footer>