<header class="main-header">
    <div class="container">
        <h1 class="logo">
            <% link_to '/' do %>
                <%= image_tag("logo.png", alt:"Watch and Learn") %>
            <% end %>
        </h1>
    </div>
</header>