---
title: Welcome to Middleman
---

<div class="container">
    <h1>This is where the content goes.</h1>

    <h2>Check out our blog.</h2>
    <br><br>

    <% blog.articles[0...5].each do |article| %>

        <a href="<%= article.url  %>"><%= article.title %></a><br>

    <% end %>
</div>